<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kkobi.persona.mapper.PersonaMapper">

    <select id="findAllPersonas"
            resultType="org.kkobi.persona.dto.PersonaResponseDto">
        SELECT
            persona_id,
            persona_name,
            axis_code,
            image_path,
            description,
            feature,
            strength,
            caution,
            reason_title,
            reason_prefix,
            reason_highlight,
            reason_suffix,
            reason_summary,
            portfolio_stock_reason,
            portfolio_bond_reason,
            portfolio_deposit_reason,
            stock_ratio,
            bond_ratio,
            deposit_ratio
        FROM personas
        ORDER BY persona_id ASC
    </select>

    <select id="findPersonaById"
            resultType="org.kkobi.persona.dto.PersonaResponseDto">
        SELECT
            persona_id,
            persona_name,
            axis_code,
            image_path,
            description,
            feature,
            strength,
            caution,
            reason_title,
            reason_prefix,
            reason_highlight,
            reason_suffix,
            reason_summary,
            portfolio_stock_reason,
            portfolio_bond_reason,
            portfolio_deposit_reason,
            stock_ratio,
            bond_ratio,
            deposit_ratio
        FROM personas
        WHERE persona_id = #{personaId}
    </select>

</mapper>
